.dropdown {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 5px;
  height: auto;
  z-index: 100;
}

.dropdown div {
  margin-bottom: 10px;
}

.dropdown__ingredients {
  background-color: blue;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.dropdown__ingredients:hover {
  box-shadow: 1px 1px 12px #555;
}

.dropdown__ingredients_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  min-width: 200px;
  margin: 0 10px;
  border-radius: 5px;
  color: white;
}

.dropdown__ingredients_box-input {
  background-color: blue;
  border: none;
  color: white;
  font-size: 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.dropdown__ingredients_box-input::-moz-placeholder {
  color: white;
  font-size: 1rem;
}

.dropdown__ingredients_box-input:-ms-input-placeholder {
  color: white;
  font-size: 1rem;
}

.dropdown__ingredients_box-input::placeholder {
  color: white;
  font-size: 1rem;
}

.dropdown__ingredients_box-input:focus {
  outline-style: none;
  width: 250px;
}

.dropdown__ingredients_box-input:focus::-moz-placeholder {
  color: white;
  font-size: 1rem;
}

.dropdown__ingredients_box-input:focus:-ms-input-placeholder {
  color: white;
  font-size: 1rem;
}

.dropdown__ingredients_box-input:focus::placeholder {
  color: white;
  font-size: 1rem;
}

.dropdown__ingredients_box-arrow {
  font-size: 1.7rem;
  margin-right: 10px;
  transform: rotate(-180deg);
  transition: all 0.3s ease;
}

.dropdown__ingredients_box-arrow:hover {
  transform: rotate(0deg);
}

.dropdown__ingredients__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 15px;
  margin-top: -10px;
  line-height: 2.5rem;
  width: 0;
  height: 0;
  transition: all 0.5s;
  position: absolute;
  top: 77px;
  overflow: hidden;
  background-color: blue;
  z-index: 100;
}

.dropdown__ingredients__list:hover {
  box-shadow: inherit;
}

.dropdown__ingredients__list-item {
  font-size: 1rem;
  list-style-type: none;
  cursor: pointer;
  line-height: 1.2em;
  width: 100%;
  padding: 5px 0;
  cursor: pointer;
}

.dropdown__appareils {
  background-color: green;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: auto;
  margin-left: 20px;
  transition: all 0.3s ease;
  overflow: hidden;
}

.dropdown__appareils:hover {
  box-shadow: 1px 1px 12px #555;
}

.dropdown__appareils:focus {
  box-shadow: 1px 1px 12px #555;
}

.dropdown__appareils_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 170px;
  height: 55px;
  margin: 0 10px;
  border-radius: 5px;
  color: white;
}

.dropdown__appareils_box-input {
  background-color: green;
  border: none;
  color: white;
  font-size: 1rem;
  width: 115px;
}

.dropdown__appareils_box-input::-moz-placeholder {
  color: white;
  font-size: 1rem;
}

.dropdown__appareils_box-input:-ms-input-placeholder {
  color: white;
  font-size: 1rem;
}

.dropdown__appareils_box-input::placeholder {
  color: white;
  font-size: 1rem;
}

.dropdown__appareils_box-input:focus {
  outline-style: none;
  width: 250px;
}

.dropdown__appareils_box-input:focus::-moz-placeholder {
  color: white;
}

.dropdown__appareils_box-input:focus:-ms-input-placeholder {
  color: white;
}

.dropdown__appareils_box-input:focus::placeholder {
  color: white;
}

.dropdown__appareils_box-arrow {
  font-size: 1.7rem;
  margin-right: 10px;
  transform: rotate(-180deg);
  transition: all 0.5s ease;
}

.dropdown__appareils_box-arrow:hover {
  transform: rotate(0deg);
}

.dropdown__appareils__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 15px;
  margin-top: -10px;
  line-height: 2.5rem;
  width: 0;
  height: 0;
  transition: all 0.5s;
  z-index: 100;
  position: absolute;
  top: 77px;
  overflow: hidden;
  background-color: green;
}

.dropdown__appareils__list-item {
  font-size: 1rem;
  list-style-type: none;
  cursor: pointer;
  line-height: 1.2em;
  width: 100%;
  padding: 5px 0;
  cursor: pointer;
}

.dropdown__ustensiles {
  background-color: red;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: auto;
  margin-left: 20px;
  transition: all 0.3s ease;
  overflow: hidden;
}

.dropdown__ustensiles:hover {
  box-shadow: 1px 1px 12px #555;
}

.dropdown__ustensiles:focus {
  box-shadow: 1px 1px 12px #555;
}

.dropdown__ustensiles_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 170px;
  height: 55px;
  margin: 0 10px;
  border-radius: 5px;
  color: white;
}

.dropdown__ustensiles_box-input {
  background-color: red;
  border: none;
  color: white;
  font-size: 1rem;
  width: 115px;
}

.dropdown__ustensiles_box-input::-moz-placeholder {
  color: white;
  font-size: 1rem;
}

.dropdown__ustensiles_box-input:-ms-input-placeholder {
  color: white;
  font-size: 1rem;
}

.dropdown__ustensiles_box-input::placeholder {
  color: white;
  font-size: 1rem;
}

.dropdown__ustensiles_box-input:focus {
  outline-style: none;
  width: 250px;
}

.dropdown__ustensiles_box-input:focus::-moz-placeholder {
  color: white;
}

.dropdown__ustensiles_box-input:focus:-ms-input-placeholder {
  color: white;
}

.dropdown__ustensiles_box-input:focus::placeholder {
  color: white;
}

.dropdown__ustensiles_box-arrow {
  font-size: 1.7rem;
  margin-right: 10px;
  transform: rotate(-180deg);
  transition: all 0.5s ease;
}

.dropdown__ustensiles_box-arrow:hover {
  transform: rotate(0deg);
}

.dropdown__ustensiles__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 15px;
  margin-top: -10px;
  line-height: 2.5rem;
  width: 0;
  height: 0;
  transition: all 0.5s;
  z-index: 100;
  position: absolute;
  top: 77px;
  overflow: hidden;
  background-color: red;
}

.dropdown__ustensiles__list-item {
  font-size: 1rem;
  list-style-type: none;
  cursor: pointer;
  line-height: 1.2em;
  width: 100%;
  padding: 5px 0;
  cursor: pointer;
}

.ingredientInDropdown {
  font-size: 1.5rem;
  list-style-type: none;
  width: 33%;
  max-height: 50px;
  cursor: pointer;
}

.dropdown_open {
  display: block;
  width: 650px;
  height: auto;
  position: unset;
  -moz-column-count: 3;
       column-count: 3;
}

section .tag {
  width: auto;
}

.tag {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  width: auto;
  margin: auto;
}

.tag ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}

.tag ul li {
  margin: 0 10px 10px 0;
}

.tag_ingredient li {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 7px 15px;
  border-radius: 5px;
  background-color: blue;
  display: flex;
  justify-content: center;
}

.tag_appareil li {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 7px 15px;
  border-radius: 5px;
  background-color: green;
  display: flex;
  justify-content: center;
}

.tag_ustensile li {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 7px 15px;
  border-radius: 5px;
  background-color: red;
  display: flex;
  justify-content: center;
}

.dropdown__ingredients__list-item:hover {
  background-color: grey;
}

.recipe_card_container {
  display: flex;
  padding: 0;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 450px;
  background-color: #E7E7E7;
  border-radius: 5px;
  margin-bottom: 50px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.recipe_card_container:hover {
  box-shadow: 5px 5px 12px #555;
}
.recipe_card_container .recipe_img {
  width: 350px;
  height: 225px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 5px 5px 0 0;
}
.recipe_card_container .recipe_title_infos {
  margin: 0px;
  display: flex;
  padding: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.recipe_card_container .recipe_name {
  font-size: 0.8em;
  font-weight: bolder;
}
.recipe_card_container .clock {
  width: 17px;
  margin-right: 5px;
}
.recipe_card_container .clockTime {
  display: flex;
  flex-direction: row;
  width: auto;
}
.recipe_card_container .howTo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  align-items: baseline;
  margin: 0;
}
.recipe_card_container .recipe_ingredients {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 0;
  padding: 0;
}
.recipe_card_container .recipe_ingredients_steps {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.recipe_card_container .recipe_steps {
  font-size: 0.6em;
}
.recipe_card_container .recipe_title_ingredient {
  list-style: none;
  font-size: 0.6em;
  font-weight: bold;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
}

#headerInfos {
  display: none;
  margin: 15px;
}

main {
  margin: 70px;
  display: flex;
  flex-direction: column;
}

#headerInfos-img {
  display: flex;
  margin: 40px auto;
  size: 50px;
}

#resultOfSearch {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
}

#inputSearch {
  display: flex;
  width: 100%;
  background-color: #E7E7E7;
  margin: 15px 0px;
  height: 35px;
  border-radius: 5px;
  border-style: hidden;
  padding: 0 10px;
}

#dropdown-menus {
  margin: 15px 0px;
}

#searchArea {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-search {
  position: absolute;
  right: 85px;
}/*# sourceMappingURL=style.css.map */