nav {
  margin: 15px;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
@media all and (max-width: 769px) {
  nav {
    display: none;
  }
}

nav > p {
  margin-right: 15px;
}

nav > ul {
  width: 140px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

nav > ul::after {
  content: "";
  display: block;
  clear: both;
}

nav > ul > li {
  float: left;
  position: relative;
  display: flex;
  flex-direction: row;
}

nav > ul > li a {
  padding: 15px 20px;
  color: white;
}

#chevron {
  color: white;
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-bottom-left-radius: 2px;
  transform: rotate(0deg) translate(0%, 0%);
  transform-origin: center center;
  transition: transform ease-in-out 100ms;
  position: absolute;
  top: 15px;
  left: 109px;
}

nav > ul > li:hover a {
  padding: 15px, 30px, 20px, 30px;
}

nav li {
  list-style-type: none;
}

.submenu {
  display: none;
}

nav a {
  display: inline-block;
  text-decoration: none;
}

nav li:hover .submenu {
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 1000;
}

nav li:hover #chevron {
  transform: rotate(180deg) translate(0%, 0%);
}

.submenu li {
  border-top: 1.5px solid white;
  padding: 10px 0;
}

.submenu li a {
  padding: 15px 30px;
  color: white;
  width: 80px;
}

.menu-html .submenu:hover {
  background-color: green;
}

.menu-html .submenu {
  background-color: blue;
  border-radius: 0 0 5px 5px;
}

.submenu li:hover a {
  color: white;
  font-weight: bold;
}

.menu-html .submenu li:hover a {
  background-color: rgba(210, 77, 60, 0.5);
}

.recipe_card_container {
  display: flex;
  padding: 0;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 450px;
  background-color: #E7E7E7;
  border-radius: 5px;
  margin-bottom: 50px;
}
.recipe_card_container .recipe_img {
  width: 350px;
  height: 225px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
  position: relative;
  top: 0;
  left: 0;
}
.recipe_card_container .recipe_title_infos {
  margin: 15px 0px 0px;
  display: flex;
  padding: 0;
  margin: 15px 0px 0px;
  flex-direction: row;
}
.recipe_card_container .recipe_name {
  font-size: 0.8em;
  font-weight: bolder;
}
.recipe_card_container .clock {
  width: 20px;
  height: auto;
}
.recipe_card_container .howTo {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-around;
}
.recipe_card_container .howTo p {
  font-size: 0.5em;
  margin-bottom: 0.5em;
}
.recipe_card_container .recipe_ingredients {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 30%;
}
.recipe_card_container .recipe_ingredients_steps {
  display: flex;
  flex-direction: column;
  width: 60%;
}

#headerInfos {
  display: none;
  margin: 15px;
}

main {
  margin: 70px;
}

#headerInfos-img {
  display: flex;
  margin: 40px auto;
  size: 50px;
}

#resultOfSearch {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
}

#inputSearch {
  display: flex;
  width: 100%;
  background-color: #E7E7E7;
  border-color: #E7E7E7;
  margin: 15px 0px;
}

#dropdown-menus {
  margin: 15px 0px;
}/*# sourceMappingURL=style.css.map */