.dropdown {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 5px;
    height: auto;
}

.dropdown__ingredients {
    background-color: blue;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    width: auto;
    height: max-content;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.dropdown__ingredients:hover {
    box-shadow: 1px 1px 12px #555;
}

.dropdown__ingredients_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    margin: 0 10px;
    border-radius: 5px;
    color: white;
}

.dropdown__ingredients_box-input {
    background-color: blue;
    border: none;
    color: white;
    font-size: 1.5rem;
    width: 115px;
}

.dropdown__ingredients_box-input::placeholder {
    color: white;
    font-size: 1.5rem;
}

.dropdown__ingredients_box-input:focus {
    outline-style: none;
    width: 250px;
}

.dropdown__ingredients_box-input:focus::placeholder {
    color: white;
    font-size: 1.3rem;
}

.dropdown__ingredients_box-arrow {
    font-size: 1.7rem;
    margin-right: 10px;
    transform: rotate(-180deg);
    transition: all 0.3s ease;
}

.dropdown__ingredients_box-arrow:hover {
    transform: rotate(0deg);
}

.dropdown__ingredients__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 15px;
    margin-top: -10px;
    line-height: 2.5rem;
    visibility: hidden;
    width: 0;
    height: 0;
    transition: all 0.5s;
    position: absolute;
    top: 77px;
    overflow: hidden;
    background-color: blue;
    z-index: 100;
}

.dropdown__ingredients__list:hover {
    box-shadow: inherit;
}

.dropdown__ingredients__list-item {
    font-size: 1.5rem;
    list-style-type: none;
    width: 33%;
    max-height: 50px;
    cursor: pointer;
}

.dropdown__appareil {
    background-color: green;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    height: max-content;
    width: auto;
    margin-left: 20px;
    transition: all 0.4s ease;
    overflow: hidden;
}

.dropdown__appareil:hover {
    box-shadow: 1px 1px 12px #555;
}

.dropdown__appareil:focus {
    box-shadow: 1px 1px 12px #555;
}

.dropdown__appareil_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 170px;
    height: 69px;
    margin: 0 10px;
    border-radius: 5px;
    color: white;
}

.dropdown__appareil_box-input {
    background-color: green;
    border: none;
    color: white;
    font-size: 1.5rem;
    width: 115px;
}

.dropdown__appareil_box-input::placeholder {
    color: white;
    font-size: 1.5rem;
}

.dropdown__appareil_box-input:focus {
    outline-style: none;
    width: 250px;
}

.dropdown__appareil_box-input:focus::placeholder {
    color: white;
}

.dropdown__appareil_box-arrow {
    font-size: 1.7rem;
    margin-right: 10px;
    transform: rotate(-180deg);
    transition: all 0.5s ease;
}

.dropdown__appareil_box-arrow:hover {
    transform: rotate(0deg);
}

.dropdown__appareil__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 15px;
    margin-top: -10px;
    line-height: 2.5rem;
    visibility: hidden;
    width: 0;
    height: 0;
    transition: all 0.5s;
    z-index: 100;
}

.dropdown__appareil__list-item {
    font-size: 1.5rem;
    list-style-type: none;
    width: 33%;
    max-height: 50px;
    cursor: pointer;
}

.dropdown__ustensiles {
    background-color: red;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    height: max-content;
    width: auto;
    margin-left: 20px;
    transition: all 0.4s ease;
    overflow: hidden;
}

.dropdown__ustensiles:hover {
    box-shadow: 1px 1px 12px #555;
}

.dropdown__ustensiles:focus {
    box-shadow: 1px 1px 12px #555;
}

.dropdown__ustensiles_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 170px;
    height: 69px;
    margin: 0 10px;
    border-radius: 5px;
    color: white;
}

.dropdown__ustensiles_box-input {
    background-color: red;
    border: none;
    color: white;
    font-size: 1.5rem;
    width: 115px;
}

.dropdown__ustensiles_box-input::placeholder {
    color: white;
    font-size: 1.5rem;
}

.dropdown__ustensiles_box-input:focus {
    outline-style: none;
    width: 250px;
}

.dropdown__ustensiles_box-input:focus::placeholder {
    color: white;
}

.dropdown__ustensiles_box-arrow {
    font-size: 1.7rem;
    margin-right: 10px;
    transform: rotate(-180deg);
    transition: all 0.5s ease;
}

.dropdown__ustensiles_box-arrow:hover {
    transform: rotate(0deg);
}

.dropdown__ustensiles__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: red;
    color: white;
    padding-left: 15px;
    margin-top: -10px;
    line-height: 2.5rem;
    transition: all 0.5s ease;
    visibility: hidden;
    width: 0;
    height: 0;
    z-index: 100;
}

.dropdown__ustensiles__list-item {
    font-size: 1.5rem;
    list-style-type: none;
    width: 33%;
    max-height: 50px;
    cursor: pointer;
}