#resultOfSearch .recipe_card_container {
    margin-right: 20px;
}

.recipe_card_container {
    display: flex;
    padding: 0;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 450px;
    background-color: $second-color;
    border-radius: 5px;
    margin-bottom: 50px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    &:hover {
        box-shadow: 5px 5px 12px #555;
    }
    .recipe_img {
        width: 350px;
        height: 225px;
        object-fit: cover;
        margin: 0;
        position: relative;
        top: 0;
        left: 0;
        border-radius: 5px 5px 0 0;
    }
    .recipe_title_infos {
        margin: 0px;
        display: flex;
        padding: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }
    .recipe_name {
        font-size: .8em;
        font-weight: bolder;
    }
    .clock {
        width: 17px;
        margin-right: 5px;
    }
    .clockTime {
        display: flex;
        flex-direction: row;
        width: auto;
    }
    .howTo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        align-items: baseline;
        margin: 0;
    }
    .recipe_ingredients {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 35%;
        margin: 0;
        padding: 0;
    }
    .recipe_ingredients_steps {
        display: flex;
        flex-direction: column;
        width: 60%;
    }
    .recipe_steps {
        font-size: .6em;
    }
    .recipe_title_ingredient {
        list-style: none;
        font-size: .6em;
        font-weight: bold;
    }
}